# 忽略需求文档
requirements.md

# 忽略系统文件
.DS_Store

# 忽略 VSCode 配置文件
.vscode/
*.code-workspace

# 忽略 IDE 配置文件
.idea/
*.iml


# 忽略编译输出文件
*.o
*.out
*.a
*.so
*.exe
*.dll

# 忽略构建目录
build/


# 忽略测试目录
Test/
bookstore-testcases/
delete.cpp

# 忽略输出文件

output.txtrequirements.md
.DS_Store
.vscode/
*.code-workspace
.idea/
.cache/
*.iml
*.o
*.out
*.a
*.so
*.exe
*.dll
*.dat
build/
output.txt
output_clean.txt

